.hero {
    height: 100vh;
    background-image: url("fundologin.jpeg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

}

.rodape {
    position: absolute;
    bottom: 40px;
    left: 70px;
    right: 70px;
    color: white;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.link {
    color: rgb(214, 34, 34);
    font-size: 13px;





}

.login {
    text-align: center;

    padding: 30px;
    border-radius: 10px;

    color: white;
    width: 300px;

    font-size: 20px;

}

skip {
    margin-left: 20px;
}

.cadastro {
    padding: 10px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    color: white;
    width: 300px;
    margin-top: 10px;
    font-size: 10px;
    margin-left: 100px;



}

a {
    color: rgb(214, 34, 34);
    font-size: 13px;

}