.information{
   font-size : 13px;
}
    
    
 
 input[type="button"]{
    width: 80px;
    height: 35px;
    font-size: 14px;
}

span{

    flex-direction: column;
    align-items: center;
}

.title{
    margin-top: -600px;
    margin-left: -1100px;
position: absolute;
color: white;
border-bottom: 3px dashed rgb(255, 255, 255);
}

input{
    border: none;
    border-left: 1px dashed black;
    border-bottom: 1px dashed black;
    
}
